
/* Footer */
footer {
    background-color: #3A7D8C; 
    color: #F1FAEE;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.footer-content div {
    flex: 1;
    min-width: 200px;
}

.footer-content a {
    color: #F1FAEE; 
    text-decoration: none;
    display: block;
    margin-top: 5px;
}

.footer-content a:hover {
    color: #2A4E59; 
}
